{% extends default.html %}
{% block body %}
<br><h2>Shows on a break</h2><br>
<ul class="episodes">
{% for seotitle,show in onbreak %}
    <li class="row striped">
        <div class="col-sm-10">
            <i class="fa fa-info-circle" aria-hidden="true" title="{{ show.overview }}" data-toggle="tooltip" ></i> {{ show.audience|audience }}<a href="{{rootpg}}/{{show.seotitle}}">{{ show.title|stripslashes }}</a> <small>{{ show.detail }} <b>Due:</b> {{ show.dueplus|date:'d M Y' }}</small>
        </div>
        <div class="col-sm-2 text-right">
            <a href="http://showrss.info/browse/{{ show.rssfeedid }}" target="_blank" title="ShowRSS"><i class="fa fa-rss-square" aria-hidden="true"></i></a> <a href="https://www.thetvdb.com/?tab=series&amp;id={{ show.tvdbid }}&amp;lid=7" target="_blank" title="TheTVDB"><i class="fa fa-tv" aria-hidden="true"></i></a> <a href="http://www.imdb.com/title/{{ show.imdb }}/" target="_blank" title="IMDB"><i class="fa fa-imdb" aria-hidden="true"></i></a> <a href="{{rootpg}}/manage/{{show.seotitle}}" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
    </li>
{% endfor %}
</ul>
<br><h2>Inactive Shows</h2><br>
<ul class="episodes">
{% for i,show in inactive %}
    <li class="row striped">
        <div class="col-sm-10">
            <i class="fa fa-info-circle" aria-hidden="true" title="{{ show.overview }}" data-toggle="tooltip" ></i> {{ show.audience|audience }}<a href="{{rootpg}}/{{show.seotitle}}">{{ show.title|stripslashes }}</a> <small><b>Estimate:</b> {{ show.firstaired|date:'F' }}, <b>Last Aired:</b> {{ show.lastepi }} ({{ show.lastplus|date:'d M Y' }})</small>
        </div>
        <div class="col-sm-2 text-right">
            <a href="http://showrss.info/browse/{{ show.rssfeedid }}" target="_blank" title="ShowRSS"><i class="fa fa-rss-square" aria-hidden="true"></i></a> <a href="https://www.thetvdb.com/?tab=series&amp;id={{ show.tvdbid }}&amp;lid=7" target="_blank" title="TheTVDB"><i class="fa fa-tv" aria-hidden="true"></i></a> <a href="http://www.imdb.com/title/{{ show.imdb }}/" target="_blank" title="IMDB"><i class="fa fa-imdb" aria-hidden="true"></i></a> <a href="{{rootpg}}/manage/{{show.seotitle}}" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'right'
    });
});
</script>
{% endblock %}